body {
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}
a {
    color: white;
    text-decoration:none;
    font-size: 15px;
}
a:hover {
    color:red;
}
a:active {
    color:red;
}
#backtop {
	background: #353535;
	width: 100%;
    height: 20%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#topss {
    background: #262626;
    width: 100%;
    height: 6%;
    position: absolute;
    top: 20%;
    left: 0%;
}
#polsk {
    background: red;
    width: 100%;
    height: 3%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#polsk1 {
    background: red;
    width: 100%;
    height: 3%;
    position: absolute;
    top: 100%;
    left: 0%;
}
#glav {
    width: 55px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 7%;
}
#stat {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 25%;
    left: 20%;
}
#podd {
    width: 140px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 67%;
}
#sms {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 25%;
    left: 85%;
}
